.navbar {
  position: fixed;
  width: 100%;
  background-color: var(--bg-color);
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 10px;
  z-index: 999;
}
.logo-text {
  /* background-color: #f5d; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.logo {
  padding: 2px;
}
.logo-text .logo {
  width: 70px;
  height: 70px;
}
.logo img {
  width: 100%;
  height: 100%;
  border-radius: 100%;
}

.logo-text .text {
  padding-left: 0.4rem;
}
.logo-text .text p {
  font-size: 1.4rem;
  /* color: var(--heading-color); */
  /* background: linear-gradient(to right, rgba(255, 0, 0, 1), #033dfd); */
  /* -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; */
  color: #ffffff;
}

.logo-text .text span {
  color: #ffffff;

  font-size: 0.7rem;
}

.links {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.links ul {
  display: flex;
  justify-content: space-around;
}
.links ul li {
  position: relative;
  margin: 1px;
  padding: 12px;
}

.links ul li::after {
  content: "";
  margin: auto;
  position: absolute;
  width: 0%;
  left: -1px;
  top: 35px;
  transition: 0.5s;
  border-bottom: 2px solid black;
}
.links ul li:hover::after {
  width: 100%;
}

.links ul li:hover {
  width: 100%;
  background-color: #84c2fc;
}

ul li a {
  padding: 8px;
  text-decoration: none;
  color: #fff;
}

.nav-btn {
  display: none;
}
.nav-btn button {
  background-color: transparent;
}
@media screen and (max-width: 319px) {
  .navbar {
    background-color: #f80606;
  }
  .logo-text .logo {
    width: 50px;
    height: 50px;
  }
  .logo img {
    width: 100%;
    height: 100%;
    border-radius: 100%;
  }
  .logo-text .text p {
    font-size: 1rem;
  }
  .logo-text .text span {
    font-size: 0.1rem;
  }
}

@media screen and (max-width: 767px) {
  .nav-btn {
    display: block;
  }
  .navbar {
    /* border-bottom: 2px solid #ffffff; */
    box-shadow: 1px 1px 4px 2px#fff;
  }
  .links {
    position: absolute;
    height: 0%;
    top: 70px;
    justify-content: center;
    align-items: flex-start;
    text-align: center;
    /* left: -400px; */
    overflow: hidden;
    background-color: var(--bg-color);
    left: -1px;
    transition: 0.5s ease-in-out all;
    width: 100%;
    margin: auto;
  }
  .links ul {
    line-height: 3rem;
    /* background-color: #ff0303; */
    width: 100%;
    flex-direction: column;
  }
  .links ul li {
    padding: 4px;
    transition: 0.5s linear;
  }

  .links ul li a:hover {
    color: #080808;
  }
}
