.icons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 40px;
  width: 40px; */
  outline: none;
  border: none;
}

.icons img {
  width: 100%;
  height: 100%;
}

.modifiicon {
  height: 40px;
  width: 40px;
}
.modifiicon img {
  height: 100%;
  width: 100%;
  background-color: #fff;
}
