.hero {
  position: relative;
  min-height: 100%;
  width: 100%;
  padding-top: 10px;
  text-align: center;
  margin: auto;
  padding: 5px;
  /* background: linear-gradient(rgba(1, 1, 1, 0.2), rgba(1, 1, 1, 0.7)); */
  /* background-color: var(--bg-color); */
  /* border: 2px solid var(--heading-color); */
}

.hero-sec {
  position: relative;
  padding-top: 2rem;
}
