.mylist {
  display: flex;
  justify-content: center;
  margin: auto;
  flex-wrap: wrap;
  margin: 2rem 0rem 5rem 0rem;
}

.usercart {
  width: 300px;
  height: 400px;
  border: 1px solid var(--heading-color);
  border: #b6028f 2px solid;
  margin: 1px;
  /* background-color: #b6028f; */
}
